<!-- The navigation menu that will be reused across most pages. -->

    
    <links>
        <a href="/">Home</a>
        <a href="/books">Past Books</a>
        <!-- <a href="/about">About BGR</a> -->
        <a href="/books/new">Submit Book</a>
    </links>

