<!-- The navigation menu that will be reused across most pages. -->
<nav>
    <!-- logo -->
    <!-- nav.ejs -->
<img class="navLogo" src="public/assets/BGR-logos_black.png" alt="BGR Logo">

    <!-- nav-links -->
    <links>
        <a href="#">Home</a>
        <a href="#">Past Books</a>
        <a href="#">About BGR</a>
    </links>

</nav>