<!-- Displays info for the about page -->
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>About</title>
        <link rel="stylesheet" href="/styles/about.css">
      </head>
<body>
    <nav><%- include('./partials/nav.ejs') %></nav>
    <p>
    </p>
    <footer><%- include('./partials/footer.ejs') %></footer>
</body>
</html>