<!-- The view for the show route. Will display all details for a specific book. -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Test Book Details</p>
     <!-- Nav Bar -->
  <!--Left: Book image -->
  <!--right: Title, author, description -->
  <!--bottom: Reviews: Add new review button, displays list of reviews for the specific book, review title, content, reviewer name, rating -->
  <!--Footer-->
</body>
</html>