<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>New Review</title>
    <link rel="stylesheet" href="/styles/forms.css">
  </head>
  <body>
    <div class="container">
    <nav><%- include('./partials/nav.ejs') %></nav>

    <section class="form">
      <form method="POST" action="/reviews/create/<%= book._id %>">
        <div class="input-box">
          <label for="reviewTitle">Title:</label>
          <input
            type="text"
            placeholder="Title"
            id="reviewTitle"
            name="reviewTitle"
            required
          />
        </div>
        <br />

        <div class="number">
          <label for="rating">Rating:</label>
          <input type="number" id="rating" name="rating" required />
        </div>
        <br />

        <div class="text-area">
          <label for="content">Review:</label>
          <textarea
            type="text"
            id="content"
            placeholder="Review"
            name="content"
            required
          ></textarea>
        </div>

        <br />

        <div class="input-box">
          <label for="reviewerName">Name:</label>
          <input
            type="text"
            placeholder="Name"
            id="reviewerName"
            name="reviewerName"
            required
          />
        </div>
        <br />
        <input type="submit" value="Share Review" />
      </form>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
  </div>
  </body>
</html>
