.container{
  display: grid;  
  height: 100vh;
 grid-template-rows: 5% 3fr 5%;

}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 0px;
}
li{
  display: inline-block;
}
  
  figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  img {
    width: 190px;
    height: 290px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    border-radius: 5px;
  }
  
  figcaption {
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {
    ul {
      grid-template-columns: 1fr; 
    }
  }