body {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 5% 70% 5% auto 5%;
  row-gap: .3rem;
}

nav {
  background-color: lightcoral;
}
.book-details {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-wrapper{
    height: 545px;
    justify-self: center;
}

.image-wrapper img {
    object-fit: cover;
    height: 100%;
    width: auto;
   }
   .about-book{
    width: 50%;
   }


.book-actions {
  background-color: lightsteelblue;
  display: flex;
  justify-content:flex-end;
}

.btn{
margin: 5px;
}

.reviews-section {
  background-color: orange;
}

.review-heading {
  /* background-color: lavender; */
  display: flex;
  border-bottom: 1px green solid;
}


.review{
  border: 1px red solid;
}

footer {
  background-color: cornflowerblue;
}
