body {
  margin: 0;
}


.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 
  5%
  55% 
  1fr 
5%;
  row-gap: .3rem;
}

nav {
  background-color: lightcoral;
}
img{
  height: 300px;
  width: auto;
}

#bookofmonth {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bookcover info";
}
#bookcover {
  grid-area: bookcover;
  justify-self: center;
}
#bookcover > img {
  height: 425px;
  margin-top: .5rem;
width: auto;
  object-fit: contain;
  display: block;

}

#info {
  grid-area: info;
}

#spotlight {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#spotlight >h3 {
 text-align: center;
}



#featurecover{
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
}

figcaption{
  text-align: center;
}

footer {
  background-color: lightslategray;
}
