ul {
    list-style: none;
  }
  
  ul li {
    display: inline-block;
  }

  section{
    border: 1px solid purple;
  }


.homepage-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 10px;
}
  .bom-container{
    grid-column: 2/6;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .bom-content{
   grid-column: 3/5;

  }

  .fb-container{
    grid-column: 2/6;
    grid-row: 5;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .fb-content h2{
   text-align: center;
  }
  .fb-content h3{
    text-align: center;
   }

   .fb-content h4{
    text-align: center;
   }