body{
  margin: 0;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-rows: .20fr 50% .75fr .10fr;
  row-gap: .3rem;
  
}

nav{
  background-color: lightcoral;
}

#bookofmonth{
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'bookcover info'
 
}
#bookcover{
  grid-area: bookcover;
}
#info{
  grid-area: info;
}
#spotlight{
  background-color: lightskyblue;
}

#spotlight > h3{
  text-align: center;
}
ul{
  list-style: none;
}
li{
display: inline-block;
}

footer{
    background-color: lightslategray;
}





  